{% extends "candidates/base.html" %}

{% block content %}
    <h1>候選人列表</h1>

    <form>
        <input type="search" name="keyword" />
        <button>搜尋</button>
    </form>

    <a href="{% url 'candidates:new' %}">新增候選人</a>

    <ul>
        {% for candidate in candidates %}
            <li>
                <a href="{% url 'candidates:show' candidate.id %}">{{ candidate.name }}</a>
                <a href="{% url 'candidates:edit' candidate.id %}">編輯</a>

                <form action="{% url 'candidates:delete' candidate.id %}" method="post">
                    {% csrf_token %}
                    <button>刪除</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
